


<h1>List of Users</h1>
<div class="table-responsive">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Surnames</th>
      <th scope="col">Email</th>
      <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.surnames %></td>
        <td><%= user.email %></td>
        <td>
          <div class="btn-group" role="group" >
            <%= link_to 'Show',user_path(user),:class => 'btn btn-success' %>
            <%= link_to 'Edit',edit_user_path(user),:class => 'btn btn-primary' %>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>