<!DOCTYPE html>
<html>
  <head>
    <title>RailsTemplateBootstrap4</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="description" content="Template ROR">
    <meta name="keywords" content="">
    <meta name="author" content="Brayan Arrieta">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
